/* ----------GLOBAL TAG Styling ----------*/
body {
  font-family: 'Itim', cursive;
}

button {
  padding: 2px;
  margin: 5px;
}

/* ----------Navbar.js Styling ----------*/
a:link { 
  text-decoration: none; 
}

a:visited { 
  text-decoration: none;
  color: inherit; 
}

.WebsiteTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavbarLinks {
  display: flex;
  justify-content: space-evenly;
}

.WelcomeElement {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logoutButton {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* ----------AddUserForm.js / AuthForm.js Styling ----------*/
.CreateUserForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: 1em;
  padding: 5px;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: 1em;
  padding: 5px;
}

.GoogleBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: 1em;
  padding: 5px;
}

/* ----------HomeDropdown.js Styling ----------*/
.DropdownContainer {
  width: 400px;
  user-select: none;
  margin: 100px auto;
  position: relative;
}

.DropdownContainer .DropdownButton {
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.DropdownContainer .DropdownOptions {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
  font-weight: 500;
  color: #333;
  width: 95%;
}

.DropdownContainer .DropdownOptions .DropdownItem{
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.DropdownContainer .DropdownOptions .DropdownItem:hover{
  background: #f4f4f4;
}
