/* ----------FONT Styling ----------*/
body {
  font-family: 'Itim', cursive;
}

/* ----------Navbar.js Styling ----------*/
.WebsiteTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}