/* ----------GLOBAL TAG Styling ----------*/
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url(JustFoodBackground.webp);
  background-size: cover;
  font-family: "Itim", cursive;
  color: white;
}

button {
  padding: 5px;
  margin: 5px;
  background-color: #3a943d;
  color: white;
  font-size: 14px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

button:hover {
  background-color: #3a943d;
}

button:active {
  background-color: #3a943d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a:link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

html,
body {
  height: 100%;
}

/* ----------Navbar.js Styling ----------*/
.WebsiteTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  margin-bottom: 10px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.NavbarLinks {
  display: flex;
  justify-content: space-evenly;
  font-size: 32px;
  margin-bottom: 10px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.WelcomeElement {
  position: absolute;
  top: 10px;
  left: 10px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.logoutButton {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* ----------AddUser.js / AuthForm.js Styling ----------*/
.CreateUserForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: 1em;
  padding: 5px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: 1em;
  padding: 5px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.GoogleBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: 1em;
  padding: 5px;
}

/* ----------Recipe.js Styling ----------*/
.mealCard {
  position: relative;
  background: #fff;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0px 0px 30px 2px #000;
}

.mealCard .mealHeader {
  background-size: cover;
  min-height: 350px;
}

.mealCard .mealHeader .mealBookmarkIcon a .fa-heart-o {
  position: absolute;
  left: 85%;
  top: 30%;
  background: #3a943d;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 5px 30px 1px #3a943d;
}

.mealCard .mealFooter .mealTitle {
  color: #212129;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 5px 30px;
}

.mealCard .mealFooter .fa-clock-o {
  color: #9b9b9b;
  margin: 0 30px;
}

.mealCard .mealFooter .fa-users {
  color: #9b9b9b;
}

.mealCard .mealFooterHeaders {
  margin: 10px 30px;
  font-weight: bold;
  color: black;
}

.mealCard .mealFooterText {
  margin: 10px 30px;
  color: black;
}

.mealFooterTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 30px;
  color: black;
}

.mealCard .cookItButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------AboutUs.js Styling ----------*/
.center {
  width: 600px;
  margin: auto;
}

section a {
  background: #3a943d;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  display: block;
  font-size: 1.3em;
  letter-spacing: 3px;
  overflow: hidden;
  border-bottom: 3px solid black;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

section p {
  padding: 10px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  background: gray;
  color: #fff;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 2s;
}

section:target p {
  height: 10em;
  opacity: 1;
  padding: 20px;
}

/* -----------------------------------LANDING PAGE STYLING -----------------------------------*/
/* ----------Home.js, HomeDropdown.js, Pantry.js, filters.js Styling ----------*/
/* ----------Home.js Styling ----------*/
.searchMealInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchIngredientInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mealResultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  padding: 10px;
}

/* ----------HomeDropdown.js Styling ----------*/
.DropdownContainer {
  width: 300px;
  user-select: none;
  margin: 50px auto;
  position: relative;
}

.DropdownContainer .DropdownButton {
  padding: 6px 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.DropdownContainer .DropdownOptions {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 1px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
}

.DropdownContainer .DropdownOptions .DropdownItem {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.DropdownContainer .DropdownOptions .DropdownItem:hover {
  background: #f4f4f4;
}

/* ----------Pantry.js Styling ----------*/
.ingredientResultContainer {
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  padding: 10px;
}

.PantryContainer {
  position: absolute;
  font-size: 20px;
  left: 75%;
  top: 240px;
}

/* ----------checkboxes.js filters.js Styling ----------*/
.CheckboxFilters {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50px;
  padding: 8px;
  width: 150px;
  font-size: 20px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.FiltersTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------allRecipes.js Styling ----------*/
.allMealSearchResultsTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  margin-top: 20px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.allMealSearchResultsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.mealResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-bottom: 30px;
}

.mealResultName {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allMealSearchResultsButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------CookingHistory.js Styling ----------*/
.cookingHistoryTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  margin-top: 20px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.cookingHistoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.cookingHistoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* ----------Bookmarks.js Styling ----------*/
.bookmarkTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  margin-top: 20px;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.bookmarksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.bookmarkItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* ---------- My Account Page Styling ----------*/

.myProfile {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myProfileHeading{
  margin: 2em;
  font-size: 25px;
  text-shadow: 2px 2px 2px black;
}

.error{
  text-shadow: 2px 2px 2px black;
  color: #161822;
}

.profileForms {
  display: flex;
  border: 2px solid red;
  justify-content: space-evenly;
  height: 75%;
  width: 60%;
  background: transparent;
  border: 2px solid #161822;
  border-radius: 10px;
  box-shadow:
  2.5px 2.6px 1.4px -27px rgba(0, 0, 0, 0.115),
  5.9px 6.3px 3.4px -27px rgba(0, 0, 0, 0.166),
  11.1px 11.8px 6.4px -27px rgba(0, 0, 0, 0.205),
  19.9px 21px 11.4px -27px rgba(0, 0, 0, 0.244),
  37.2px 39.3px 21.3px -27px rgba(0, 0, 0, 0.295),
  89px 94px 51px -27px rgba(0, 0, 0, 0.41)
;
}

.userInfoForm,
.passwordForm {
  display: flex;
  flex-direction: column;
  max-height: 60%;
  margin: 1rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 30.6px 30.6px 3.3px rgba(0, 0, 0, 0.024),
    41.2px 41.2px 8px rgba(0, 0, 0, 0.032),
    47.8px 47.8px 15px rgba(0, 0, 0, 0.038),
    54.4px 54.4px 26.8px rgba(0, 0, 0, 0.044),
    65.2px 65.2px 50.1px rgba(0, 0, 0, 0.052),
    100px 100px 120px rgba(0, 0, 0, 0.07);
  border: 1px solid #161822;
  border-radius: 10px;
}

.editInput::placeholder {
  color: #161822;
}

.editInput,
textarea {
  background-color: transparent;
  border: 0;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  color: #161822;
  border: 2px solid #161822;
}

.editInput:hover {
  border-radius: 3px;
  background: #4f9d4d;
  box-shadow: inset 5px 5px 10px #2c582b,
              inset -5px -5px 10px #72e26f;
  color: #c0c0c0;
  cursor: pointer;
}

textarea {
  margin-top: 24px;
  resize: none;
  overflow: hidden;
  min-height: 14px;
  max-height: 100px;
  font-size: 14px;
}

textarea:focus {
  outline: 5px auto Highlight; /* Firefox */
  outline: 5px auto -webkit-focus-ring-color; /* Chrome, Safari */
}
